:root {
  --default-font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Ubuntu, "Helvetica Neue", Helvetica, Arial, "PingFang SC",
    "Hiragino Sans GB", "Microsoft Yahei UI", "Microsoft Yahei",
    "Source Han Sans CN", sans-serif;
}

.main-container {
  overflow: hidden;
}

.main-container,
.main-container * {
  box-sizing: border-box;
}

a{
  text-decoration: none;
  color: #0c1315;
}

a:hover{
  color: #ff9503;
}

input,
select,
textarea,
button {
  outline: 0;
}

.main-container {
  position: relative;
  width: 1920px;
  height: 6708.19px;
  margin: 0 auto;
  background: #ffffff;
}
.div-qodef-top-area {
  position: relative;
  width: 1920px;
  height: 30px;
  margin: 0 0 0 0;
  background: #0c1315;
  z-index: 197;
}
.span-heading-link {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  position: absolute;
  height: 24px;
  top: 2px;
  left: 1458px;
  color: #ffffff;
  font-family: Inconsolata, var(--default-font-family);
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
  text-transform: uppercase;
  white-space: nowrap;
  letter-spacing: 3.5px;
  z-index: 200;
}
.span-heading-link-1 {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  position: absolute;
  height: 24px;
  top: 2px;
  left: 1702.5px;
  color: #ffffff;
  font-family: Inconsolata, var(--default-font-family);
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
  text-transform: uppercase;
  white-space: nowrap;
  letter-spacing: 3.5px;
  z-index: 204;
}
.div-after {
  position: absolute;
  width: 1px;
  height: 63.97%;
  top: 16.37%;
  right: 269.5px;
  background: rgba(255, 255, 255, 0.55);
  z-index: 201;
}
.div-link {
  position: absolute;
  width: 30px;
  height: 13px;
  top: 8px;
  left: 1680.5px;
  z-index: 202;
  overflow: hidden;
}
.div-vector {
  position: relative;
  width: 20.981px;
  height: 12.954px;
  margin: 0px 0 0 0.03px;
  background: url(./assets/images/4e520450-433b-4e15-8f03-84e29148709c.png)
    no-repeat center;
  background-size: 100% 100%;
  z-index: 203;
}
.div-link-2 {
  position: absolute;
  width: 13px;
  height: 13px;
  top: 8px;
  left: 1434px;
  z-index: 198;
  overflow: hidden;
}
.div-vector-3 {
  position: relative;
  width: 11.9px;
  height: 11.892px;
  margin: 0.54px 0 0 0.01px;
  background: url(./assets/images/c1f76fec-f969-45b5-b51a-637af3bff104.png)
    no-repeat center;
  background-size: 100% 100%;
  z-index: 199;
}
.div-banner {
  position: relative;
  width: 1920px;
  height: 100px;
  margin: 0 0 0 0;
  background: #ffffff;
  z-index: 205;
}
.span-navigation-top-menu {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  position: absolute;
  height: 24px;
  top: 37.5px;
  left: 449.5px;
  color: #0c1315;
  font-family: Inconsolata, var(--default-font-family);
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
  text-transform: uppercase;
  white-space: nowrap;
  letter-spacing: 3.5px;
  z-index: 209;
}
.span-navigation-top-menu-4 {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  position: absolute;
  height: 24px;
  top: 37.5px;
  left: 824px;
  color: #0c1315;
  font-family: Inconsolata, var(--default-font-family);
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
  text-transform: uppercase;
  white-space: nowrap;
  letter-spacing: 3.5px;
  z-index: 211;
}
.span-navigation-top-menu-5 {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  position: absolute;
  height: 24px;
  top: 37.5px;
  left: 357px;
  color: #ff9503;
  font-family: Inconsolata, var(--default-font-family);
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
  text-transform: uppercase;
  white-space: nowrap;
  letter-spacing: 3.5px;
  z-index: 208;
}
.span-navigation-top-menu-6 {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  position: absolute;
  height: 24px;
  top: 37.5px;
  left: 241px;
  color: #0c1315;
  font-family: Inconsolata, var(--default-font-family);
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
  text-transform: uppercase;
  white-space: nowrap;
  letter-spacing: 3.5px;
  z-index: 207;
}
.span-navigation-top-menu-7 {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  position: absolute;
  height: 24px;
  top: 37.5px;
  left: 643px;
  color: #0c1315;
  font-family: Inconsolata, var(--default-font-family);
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
  text-transform: uppercase;
  white-space: nowrap;
  letter-spacing: 3.5px;
  z-index: 210;
}
.span-navigation-top-menu-8 {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  position: absolute;
  height: 24px;
  top: 37.5px;
  left: 742px;
  color: #0c1315;
  font-family: Inconsolata, var(--default-font-family);
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
  text-transform: uppercase;
  white-space: nowrap;
  letter-spacing: 3.5px;
  z-index: 212;
}
.div-link-svg {
  position: absolute;
  width: 17.31px;
  height: 17.31px;
  top: 41.61px;
  left: 1732.69px;
  z-index: 213;
  overflow: hidden;
}
.div-group {
  position: relative;
  width: 15.982px;
  height: 15.982px;
  margin: 0.73px 0 0 0.68px;
  background: url(./assets/images/b65cc8ec-9d53-4dbc-800c-fa2c6f92808a.png)
    no-repeat center;
  background-size: 100% 100%;
  z-index: 214;
}
.div-link-logo-img {
  position: absolute;
  width: 121px;
  height: 12px;
  top: 50%;
  left: 60px;
  background: url(./assets/images/6c659b15-eb7f-4751-9ccd-38b1477d6953.png)
    no-repeat center;
  background-size: cover;
  transform: translate(0, -54.17%);
  z-index: 206;
  overflow: hidden;
}
.div-link-svg-9 {
  position: absolute;
  width: 50px;
  height: 8px;
  top: 46.23px;
  left: 1810px;
  z-index: 215;
  overflow: hidden;
}
.div-vector-a {
  position: relative;
  width: 50px;
  height: 1px;
  margin: 0 0 0 0;
  background: url(./assets/images/4797d24e-a1be-4a80-9ed8-c1326ff52ea1.png)
    no-repeat center;
  background-size: 100% 100%;
  z-index: 216;
}
.div-vector-b {
  position: relative;
  width: 50px;
  height: 1px;
  margin: 6px 0 0 0;
  background: url(./assets/images/51a10415-fb7b-4759-a6aa-78a54adde379.png)
    no-repeat center;
  background-size: 100% 100%;
  z-index: 217;
}
.span-main-section-heading {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  position: relative;
  width: 662.28px;
  height: 110px;
  margin: 626.99px 0 0 260px;
  color: #0c1315;
  font-family: Epilogue, var(--default-font-family);
  font-size: 42px;
  font-weight: 400;
  line-height: 55px;
  text-align: left;
  text-overflow: initial;
  z-index: 1;
  overflow: hidden;
}
.span-main-section-finest-transport {
  display: block;
  position: relative;
  height: 24px;
  margin: 6.71px 0 0 260px;
  color: #bfa37c;
  font-family: Inconsolata, var(--default-font-family);
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
  text-transform: uppercase;
  white-space: nowrap;
  letter-spacing: 3.5px;
  z-index: 2;
}
.div-main-section {
  position: relative;
  width: 1400px;
  height: 1px;
  margin: 31.27px 0 0 260px;
  border-top: 1px solid #d9d6ce;
  z-index: 3;
}
.div-flex-row-fa {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  width: 785.606px;
  height: 32px;
  margin: 28px 0 0 621.3px;
  z-index: 14;
}
.span-heading-clean-comfortable {
  flex-shrink: 0;
  position: relative;
  height: 32px;
  color: #0c1315;
  font-family: Epilogue, var(--default-font-family);
  font-size: 22px;
  font-weight: 400;
  line-height: 32px;
  text-align: left;
  white-space: nowrap;
  z-index: 7;
}
.span-heading-best-price-assured {
  flex-shrink: 0;
  position: relative;
  height: 32px;
  color: #0c1315;
  font-family: Epilogue, var(--default-font-family);
  font-size: 22px;
  font-weight: 400;
  line-height: 32px;
  text-align: left;
  white-space: nowrap;
  z-index: 14;
}
.div-flex-row-dba {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  width: 967.35px;
  height: 84px;
  margin: 8.5px 0 0 621.3px;
  z-index: 15;
}
.span-tortor-condimentum-lacinia {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
  width: 408.37px;
  height: 84px;
  color: #404040;
  font-family: Sora, var(--default-font-family);
  font-size: 16px;
  font-weight: 400;
  line-height: 28px;
  text-align: left;
  text-overflow: initial;
  z-index: 8;
  overflow: hidden;
}
.span-tortor-condimentum-lacinia-c {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
  width: 408.37px;
  height: 84px;
  color: #404040;
  font-family: Sora, var(--default-font-family);
  font-size: 16px;
  font-weight: 400;
  line-height: 28px;
  text-align: left;
  text-overflow: initial;
  z-index: 15;
  overflow: hidden;
}
.div-flex-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  width: 747.887px;
  height: 32px;
  margin: 40.5px 0 0 621.3px;
  z-index: 17;
}
.span-heading-smooth-car-transport {
  flex-shrink: 0;
  position: relative;
  height: 32px;
  color: #0c1315;
  font-family: Epilogue, var(--default-font-family);
  font-size: 22px;
  font-weight: 400;
  line-height: 32px;
  text-align: left;
  white-space: nowrap;
  z-index: 10;
}
.span-heading-diverse-selection {
  flex-shrink: 0;
  position: relative;
  height: 32px;
  color: #0c1315;
  font-family: Epilogue, var(--default-font-family);
  font-size: 22px;
  font-weight: 400;
  line-height: 32px;
  text-align: left;
  white-space: nowrap;
  z-index: 17;
}
.div-flex-row-bbb {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  width: 967.35px;
  height: 84px;
  margin: 8.5px 0 0 621.3px;
  z-index: 18;
}
.span-tortor-condimentum-lacinia-d {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
  width: 408.37px;
  height: 84px;
  color: #404040;
  font-family: Sora, var(--default-font-family);
  font-size: 16px;
  font-weight: 400;
  line-height: 28px;
  text-align: left;
  text-overflow: initial;
  z-index: 11;
  overflow: hidden;
}
.span-tortor-condimentum-lacinia-e {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
  width: 408.37px;
  height: 84px;
  color: #404040;
  font-family: Sora, var(--default-font-family);
  font-size: 16px;
  font-weight: 400;
  line-height: 28px;
  text-align: left;
  text-overflow: initial;
  z-index: 18;
  overflow: hidden;
}
.span-main-section-luxury-limousine {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  position: relative;
  width: 623.83px;
  height: 110px;
  margin: 879.49px 0 0 260px;
  color: #0c1315;
  font-family: Epilogue, var(--default-font-family);
  font-size: 42px;
  font-weight: 400;
  line-height: 55px;
  text-align: left;
  text-overflow: initial;
  z-index: 20;
  overflow: hidden;
}
.span-main-section-enjoy-the-ride {
  display: block;
  position: relative;
  height: 24px;
  margin: 6.71px 0 0 260px;
  color: #bfa37c;
  font-family: Inconsolata, var(--default-font-family);
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
  text-transform: uppercase;
  white-space: nowrap;
  letter-spacing: 3.5px;
  z-index: 21;
}
.div-main-section-f {
  position: relative;
  width: 1400px;
  height: 720.63px;
  margin: 51.27px 0 0 260px;
  z-index: 22;
  overflow: hidden;
}
.div-flex-row-abf {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  width: 1399.99px;
  height: 620.63px;
  margin: 0 0 0 -0.02px;
  z-index: 77;
}
.div-qodef-e-inner {
  flex-shrink: 0;
  position: relative;
  width: 433.33px;
  height: 620.63px;
  background: #f7f5f2;
  z-index: 23;
}
.div-link-vihecle-list-image {
  position: relative;
  width: 273.33px;
  height: 165.62px;
  margin: 50px 0 0 80px;
  background: url(./assets/images/2b9d5b65-9afb-4ab0-9b79-e5d7d8a2ffde.png)
    no-repeat center;
  background-size: cover;
  z-index: 24;
  overflow: hidden;
}
.span-heading-link-rolls-royce-ghost {
  display: block;
  position: relative;
  height: 32px;
  margin: 36px 0 0 80px;
  color: #0c1315;
  font-family: Epilogue, var(--default-font-family);
  font-size: 22px;
  font-weight: 400;
  line-height: 32px;
  text-align: left;
  white-space: nowrap;
  z-index: 25;
}
.div-flex-row-fd {
  position: relative;
  width: 105.44px;
  height: 14px;
  margin: 5px 0 0 80px;
  z-index: 38;
}
.svg {
  position: absolute;
  width: 14.69px;
  height: 14px;
  top: 0;
  left: 0;
  z-index: 26;
  overflow: hidden;
}
.group {
  position: relative;
  width: 14.132px;
  height: 13.431px;
  margin: 0.3px 0 0 0.29px;
  z-index: 27;
}
.vector {
  position: absolute;
  width: 103.95%;
  height: 104.23%;
  top: -2.23%;
  left: -2.09%;
  background: url(./assets/images/97559198-da52-4944-9b8e-ebbf57fdc47f.png)
    no-repeat center;
  background-size: 100% 100%;
  z-index: 28;
}
.svg-10 {
  position: absolute;
  width: 14.69px;
  height: 14px;
  top: 0;
  left: 22.69px;
  z-index: 29;
  overflow: hidden;
}
.group-11 {
  position: relative;
  width: 14.132px;
  height: 13.431px;
  margin: 0.3px 0 0 0.29px;
  z-index: 30;
}
.vector-12 {
  position: absolute;
  width: 103.95%;
  height: 104.23%;
  top: -2.23%;
  left: -2.09%;
  background: url(./assets/images/4225c897-ce12-45cc-b05a-b005f5160dd3.png)
    no-repeat center;
  background-size: 100% 100%;
  z-index: 31;
}
.svg-13 {
  position: absolute;
  width: 14.69px;
  height: 14px;
  top: 0;
  left: 45.38px;
  z-index: 32;
  overflow: hidden;
}
.group-14 {
  position: relative;
  width: 14.132px;
  height: 13.431px;
  margin: 0.3px 0 0 0.29px;
  z-index: 33;
}
.vector-15 {
  position: absolute;
  width: 103.95%;
  height: 104.23%;
  top: -2.23%;
  left: -2.09%;
  background: url(./assets/images/c49bb21e-281b-4625-a048-59a887a0e2d4.png)
    no-repeat center;
  background-size: 100% 100%;
  z-index: 34;
}
.svg-16 {
  position: absolute;
  width: 14.68px;
  height: 14px;
  top: 0;
  left: 68.07px;
  z-index: 35;
  overflow: hidden;
}
.group-17 {
  position: relative;
  width: 14.122px;
  height: 13.431px;
  margin: 0.3px 0 0 0.29px;
  z-index: 36;
}
.vector-18 {
  position: absolute;
  width: 103.95%;
  height: 104.23%;
  top: -2.23%;
  left: -2.09%;
  background: url(./assets/images/b084ae5d-c225-46b4-8591-aace099d49b5.png)
    no-repeat center;
  background-size: 100% 100%;
  z-index: 37;
}
.svg-19 {
  position: absolute;
  width: 14.69px;
  height: 14px;
  top: 0;
  left: 90.75px;
  z-index: 38;
  overflow: hidden;
}
.group-1a {
  position: relative;
  width: 14.132px;
  height: 13.431px;
  margin: 0.3px 0 0 0.29px;
  z-index: 39;
}
.vector-1b {
  position: absolute;
  width: 103.95%;
  height: 104.23%;
  top: -2.23%;
  left: -2.09%;
  background: url(./assets/images/3ef978da-666e-44ce-b26a-393c028e3785.png)
    no-repeat center;
  background-size: 100% 100%;
  z-index: 40;
}
.lorem-ipsum {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  position: relative;
  width: 251.16px;
  height: 56px;
  margin: 24.5px 0 0 80px;
  color: #404040;
  font-family: Sora, var(--default-font-family);
  font-size: 16px;
  font-weight: 400;
  line-height: 28px;
  text-align: left;
  text-overflow: initial;
  z-index: 41;
  overflow: hidden;
}
.flex-row-bd {
  position: relative;
  width: 135.565px;
  height: 40px;
  margin: 21px 0 0 80px;
  z-index: 45;
}
.empty {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  position: absolute;
  height: 40px;
  top: 0;
  left: 13.05px;
  color: #404040;
  font-family: Sora, var(--default-font-family);
  font-size: 40px;
  font-weight: 400;
  line-height: 40px;
  text-align: left;
  white-space: nowrap;
  z-index: 43;
}
.dollar {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  position: absolute;
  height: 20px;
  top: 1px;
  left: 0;
  color: #404040;
  font-family: Sora, var(--default-font-family);
  font-size: 20px;
  font-weight: 400;
  line-height: 20px;
  text-align: left;
  white-space: nowrap;
  z-index: 42;
}
.hour {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  position: absolute;
  height: 28px;
  top: 7.5px;
  left: 93.82px;
  color: #404040;
  font-family: Sora, var(--default-font-family);
  font-size: 16px;
  font-weight: 400;
  line-height: 28px;
  text-align: left;
  white-space: nowrap;
  z-index: 45;
}
.slash {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  position: absolute;
  height: 28px;
  top: 9.5px;
  left: 86.3px;
  color: #404040;
  font-family: Sora, var(--default-font-family);
  font-size: 16px;
  font-weight: 400;
  line-height: 28px;
  text-align: left;
  white-space: nowrap;
  z-index: 44;
}
.link {
  position: relative;
  width: 273.33px;
  height: 67px;
  margin: 29.5px 0 0 80px;
  border: 1px solid #bfa37c;
  z-index: 46;
}
.more-details {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  width: 126.495px;
  height: 25px;
  top: 17.5px;
  left: calc(50% - 52.5px);
  color: #0c1315;
  font-family: Inconsolata, var(--default-font-family);
  font-size: 14px;
  font-weight: 400;
  line-height: 25px;
  text-align: center;
  text-transform: uppercase;
  white-space: nowrap;
  letter-spacing: 3.5px;
  z-index: 48;
}
.before {
  position: absolute;
  width: 1px;
  height: 16.42%;
  top: 39.55%;
  left: 66.16px;
  background: #0c1315;
  z-index: 47;
}
.after {
  position: absolute;
  width: 11px;
  height: 1px;
  top: 31.5px;
  left: 61.16px;
  background: #0c1315;
  z-index: 49;
}
.qodef-e-inner {
  flex-shrink: 0;
  position: relative;
  width: 433.33px;
  height: 620.63px;
  background: #f7f5f2;
  z-index: 50;
}
.link-vehicle-list-image {
  position: relative;
  width: 273.33px;
  height: 165.62px;
  margin: 50px 0 0 80px;
  background: url(./assets/images/48398e28-ae22-4b32-8d73-254da7d96a10.png)
    no-repeat center;
  background-size: cover;
  z-index: 51;
  overflow: hidden;
}
.heading-link-ferrari {
  display: block;
  position: relative;
  height: 32px;
  margin: 36px 0 0 80px;
  color: #0c1315;
  font-family: Epilogue, var(--default-font-family);
  font-size: 22px;
  font-weight: 400;
  line-height: 32px;
  text-align: left;
  white-space: nowrap;
  z-index: 52;
}
.flex-row-dd {
  position: relative;
  width: 105.44px;
  height: 14px;
  margin: 5px 0 0 80px;
  z-index: 65;
}
.svg-1c {
  position: absolute;
  width: 14.69px;
  height: 14px;
  top: 0;
  left: 0;
  z-index: 53;
  overflow: hidden;
}
.group-1d {
  position: relative;
  width: 14.132px;
  height: 13.431px;
  margin: 0.3px 0 0 0.29px;
  z-index: 54;
}
.vector-1e {
  position: absolute;
  width: 103.95%;
  height: 104.23%;
  top: -2.23%;
  left: -2.09%;
  background: url(./assets/images/a6c243e5-7488-4641-99c7-ef5c72819fd4.png)
    no-repeat center;
  background-size: 100% 100%;
  z-index: 55;
}
.svg-1f {
  position: absolute;
  width: 14.69px;
  height: 14px;
  top: 0;
  left: 22.69px;
  z-index: 56;
  overflow: hidden;
}
.group-20 {
  position: relative;
  width: 14.132px;
  height: 13.431px;
  margin: 0.3px 0 0 0.29px;
  z-index: 57;
}
.vector-21 {
  position: absolute;
  width: 103.95%;
  height: 104.23%;
  top: -2.23%;
  left: -2.09%;
  background: url(./assets/images/7e1fe511-d704-4cc0-b387-403c3f150f22.png)
    no-repeat center;
  background-size: 100% 100%;
  z-index: 58;
}
.svg-22 {
  position: absolute;
  width: 14.69px;
  height: 14px;
  top: 0;
  left: 45.38px;
  z-index: 59;
  overflow: hidden;
}
.group-23 {
  position: relative;
  width: 14.132px;
  height: 13.431px;
  margin: 0.3px 0 0 0.29px;
  z-index: 60;
}
.vector-24 {
  position: absolute;
  width: 103.95%;
  height: 104.23%;
  top: -2.23%;
  left: -2.09%;
  background: url(./assets/images/5821f661-ef1f-4fdc-86eb-e05aea0d46c1.png)
    no-repeat center;
  background-size: 100% 100%;
  z-index: 61;
}
.svg-25 {
  position: absolute;
  width: 14.68px;
  height: 14px;
  top: 0;
  left: 68.07px;
  z-index: 62;
  overflow: hidden;
}
.group-26 {
  position: relative;
  width: 14.122px;
  height: 13.431px;
  margin: 0.3px 0 0 0.29px;
  z-index: 63;
}
.vector-27 {
  position: absolute;
  width: 103.95%;
  height: 104.23%;
  top: -2.23%;
  left: -2.09%;
  background: url(./assets/images/cc1c7465-983c-4976-bf77-29e13a55eebf.png)
    no-repeat center;
  background-size: 100% 100%;
  z-index: 64;
}
.svg-28 {
  position: absolute;
  width: 14.69px;
  height: 14px;
  top: 0;
  left: 90.75px;
  z-index: 65;
  overflow: hidden;
}
.group-29 {
  position: relative;
  width: 14.132px;
  height: 13.431px;
  margin: 0.3px 0 0 0.29px;
  z-index: 66;
}
.vector-2a {
  position: absolute;
  width: 103.95%;
  height: 104.23%;
  top: -2.23%;
  left: -2.09%;
  background: url(./assets/images/c87404e8-4ddd-40c8-8371-4383eb015067.png)
    no-repeat center;
  background-size: 100% 100%;
  z-index: 67;
}
.lorem-ipsum-2b {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  position: relative;
  width: 251.16px;
  height: 56px;
  margin: 24.5px 0 0 80px;
  color: #404040;
  font-family: Sora, var(--default-font-family);
  font-size: 16px;
  font-weight: 400;
  line-height: 28px;
  text-align: left;
  text-overflow: initial;
  z-index: 68;
  overflow: hidden;
}
.flex-row-d {
  position: relative;
  width: 136.315px;
  height: 40px;
  margin: 21px 0 0 80px;
  z-index: 72;
}
.span {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  position: absolute;
  height: 40px;
  top: 0;
  left: 13.05px;
  color: #404040;
  font-family: Sora, var(--default-font-family);
  font-size: 40px;
  font-weight: 400;
  line-height: 40px;
  text-align: left;
  white-space: nowrap;
  z-index: 70;
}
.span-dollar {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  position: absolute;
  height: 20px;
  top: 1px;
  left: 0;
  color: #404040;
  font-family: Sora, var(--default-font-family);
  font-size: 20px;
  font-weight: 400;
  line-height: 20px;
  text-align: left;
  white-space: nowrap;
  z-index: 69;
}
.span-hour {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  position: absolute;
  height: 28px;
  top: 7.5px;
  left: 94.57px;
  color: #404040;
  font-family: Sora, var(--default-font-family);
  font-size: 16px;
  font-weight: 400;
  line-height: 28px;
  text-align: left;
  white-space: nowrap;
  z-index: 72;
}
.span-slash {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  position: absolute;
  height: 28px;
  top: 9.5px;
  left: 87.05px;
  color: #404040;
  font-family: Sora, var(--default-font-family);
  font-size: 16px;
  font-weight: 400;
  line-height: 28px;
  text-align: left;
  white-space: nowrap;
  z-index: 71;
}
.link-2c {
  position: relative;
  width: 273.33px;
  height: 67px;
  margin: 29.5px 0 0 80px;
  border: 1px solid #bfa37c;
  z-index: 73;
}
.span-more-details {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  width: 126.495px;
  height: 25px;
  top: 17.5px;
  left: calc(50% - 52.5px);
  color: #0c1315;
  font-family: Inconsolata, var(--default-font-family);
  font-size: 14px;
  font-weight: 400;
  line-height: 25px;
  text-align: center;
  text-transform: uppercase;
  white-space: nowrap;
  letter-spacing: 3.5px;
  z-index: 75;
}
.before-2d {
  position: absolute;
  width: 1px;
  height: 16.42%;
  top: 39.55%;
  left: 66.16px;
  background: #0c1315;
  z-index: 74;
}
.after-2e {
  position: absolute;
  width: 11px;
  height: 1px;
  top: 31.5px;
  left: 61.16px;
  background: #0c1315;
  z-index: 76;
}
.div-qodef-e-inner-2f {
  flex-shrink: 0;
  position: relative;
  width: 433.33px;
  height: 620.63px;
  background: #f7f5f2;
  z-index: 77;
}
.link-vehicle-list-image-30 {
  position: relative;
  width: 273.33px;
  height: 165.62px;
  margin: 50px 0 0 80px;
  background: url(./assets/images/26817b86-e42a-4012-be69-8da056a3f545.png)
    no-repeat center;
  background-size: cover;
  z-index: 78;
  overflow: hidden;
}
.span-heading {
  display: block;
  position: relative;
  height: 32px;
  margin: 36px 0 0 80px;
  color: #0c1315;
  font-family: Epilogue, var(--default-font-family);
  font-size: 22px;
  font-weight: 400;
  line-height: 32px;
  text-align: left;
  white-space: nowrap;
  z-index: 79;
}
.flex-row-cc {
  position: relative;
  width: 105.44px;
  height: 14px;
  margin: 5px 0 0 80px;
  z-index: 92;
}
.svg-31 {
  position: absolute;
  width: 14.69px;
  height: 14px;
  top: 0;
  left: 0;
  z-index: 80;
  overflow: hidden;
}
.group-32 {
  position: relative;
  width: 14.132px;
  height: 13.431px;
  margin: 0.3px 0 0 0.29px;
  z-index: 81;
}
.vector-33 {
  position: absolute;
  width: 103.95%;
  height: 104.23%;
  top: -2.23%;
  left: -2.09%;
  background: url(./assets/images/00a97f51-3466-4d29-820f-10b628c98c9f.png)
    no-repeat center;
  background-size: 100% 100%;
  z-index: 82;
}
.svg-34 {
  position: absolute;
  width: 14.69px;
  height: 14px;
  top: 0;
  left: 22.69px;
  z-index: 83;
  overflow: hidden;
}
.group-35 {
  position: relative;
  width: 14.132px;
  height: 13.431px;
  margin: 0.3px 0 0 0.29px;
  z-index: 84;
}
.vector-36 {
  position: absolute;
  width: 103.95%;
  height: 104.23%;
  top: -2.23%;
  left: -2.09%;
  background: url(./assets/images/cb7088c4-084a-4ec9-bfae-e573555853a3.png)
    no-repeat center;
  background-size: 100% 100%;
  z-index: 85;
}
.svg-37 {
  position: absolute;
  width: 14.68px;
  height: 14px;
  top: 0;
  left: 45.38px;
  z-index: 86;
  overflow: hidden;
}
.group-38 {
  position: relative;
  width: 14.122px;
  height: 13.431px;
  margin: 0.3px 0 0 0.29px;
  z-index: 87;
}
.vector-39 {
  position: absolute;
  width: 103.95%;
  height: 104.23%;
  top: -2.23%;
  left: -2.09%;
  background: url(./assets/images/0deed4cb-92f3-484d-9a60-5608b8817ad8.png)
    no-repeat center;
  background-size: 100% 100%;
  z-index: 88;
}
.svg-3a {
  position: absolute;
  width: 14.69px;
  height: 14px;
  top: 0;
  left: 68.06px;
  z-index: 89;
  overflow: hidden;
}
.group-3b {
  position: relative;
  width: 14.132px;
  height: 13.431px;
  margin: 0.3px 0 0 0.29px;
  z-index: 90;
}
.vector-3c {
  position: absolute;
  width: 103.95%;
  height: 104.23%;
  top: -2.23%;
  left: -2.09%;
  background: url(./assets/images/19ead23b-5be8-4552-81ed-2ddd26f9dbc7.png)
    no-repeat center;
  background-size: 100% 100%;
  z-index: 91;
}
.svg-3d {
  position: absolute;
  width: 14.69px;
  height: 14px;
  top: 0;
  left: 90.75px;
  z-index: 92;
  overflow: hidden;
}
.group-3e {
  position: relative;
  width: 14.132px;
  height: 13.431px;
  margin: 0.3px 0 0 0.29px;
  z-index: 93;
}
.vector-3f {
  position: absolute;
  width: 103.95%;
  height: 104.23%;
  top: -2.23%;
  left: -2.09%;
  background: url(./assets/images/0e9b1bf6-f6d0-4dc5-adcc-10b39a40c3b9.png)
    no-repeat center;
  background-size: 100% 100%;
  z-index: 94;
}
.span-lorem-ipsum {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  position: relative;
  width: 251.15px;
  height: 56px;
  margin: 24.5px 0 0 80px;
  color: #404040;
  font-family: Sora, var(--default-font-family);
  font-size: 16px;
  font-weight: 400;
  line-height: 28px;
  text-align: left;
  text-overflow: initial;
  z-index: 95;
  overflow: hidden;
}
.flex-row-fa {
  position: relative;
  width: 136.315px;
  height: 40px;
  margin: 21px 0 0 80px;
  z-index: 99;
}
.span-40 {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  position: absolute;
  height: 40px;
  top: 0;
  left: 13.05px;
  color: #404040;
  font-family: Sora, var(--default-font-family);
  font-size: 40px;
  font-weight: 400;
  line-height: 40px;
  text-align: left;
  white-space: nowrap;
  z-index: 97;
}
.span-dollar-41 {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  position: absolute;
  height: 20px;
  top: 1px;
  left: 0;
  color: #404040;
  font-family: Sora, var(--default-font-family);
  font-size: 20px;
  font-weight: 400;
  line-height: 20px;
  text-align: left;
  white-space: nowrap;
  z-index: 96;
}
.span-hour-42 {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  position: absolute;
  height: 28px;
  top: 7.5px;
  left: 94.56px;
  color: #404040;
  font-family: Sora, var(--default-font-family);
  font-size: 16px;
  font-weight: 400;
  line-height: 28px;
  text-align: left;
  white-space: nowrap;
  z-index: 99;
}
.span-slash-43 {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  position: absolute;
  height: 28px;
  top: 9.5px;
  left: 87.05px;
  color: #404040;
  font-family: Sora, var(--default-font-family);
  font-size: 16px;
  font-weight: 400;
  line-height: 28px;
  text-align: left;
  white-space: nowrap;
  z-index: 98;
}
.link-44 {
  position: relative;
  width: 273.33px;
  height: 67px;
  margin: 29.5px 0 0 80px;
  border: 1px solid #bfa37c;
  z-index: 100;
}
.span-more-details-45 {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  width: 126.495px;
  height: 25px;
  top: 17.5px;
  left: calc(50% - 52.51px);
  color: #0c1315;
  font-family: Inconsolata, var(--default-font-family);
  font-size: 14px;
  font-weight: 400;
  line-height: 25px;
  text-align: center;
  text-transform: uppercase;
  white-space: nowrap;
  letter-spacing: 3.5px;
  z-index: 102;
}
.before-46 {
  position: absolute;
  width: 1px;
  height: 16.42%;
  top: 39.55%;
  left: 66.16px;
  background: #0c1315;
  z-index: 101;
}
.after-47 {
  position: absolute;
  width: 11px;
  height: 1px;
  top: 31.5px;
  left: 61.16px;
  background: #0c1315;
  z-index: 103;
}
.flex-row-a {
  position: relative;
  width: 284px;
  height: 28px;
  margin: 71.99px 0 0 558px;
  z-index: 108;
}
.span-slash-48 {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  width: 8.396px;
  height: 28px;
  top: 0;
  left: calc(50% - 4.02px);
  color: #404040;
  font-family: Inconsolata, var(--default-font-family);
  font-size: 16px;
  font-weight: 400;
  line-height: 28px;
  text-align: center;
  white-space: nowrap;
  z-index: 105;
}
.span-49 {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  width: 8.396px;
  height: 17px;
  top: 5px;
  left: calc(50% - 27.03px);
  color: #404040;
  font-family: Inconsolata, var(--default-font-family);
  font-size: 16px;
  font-weight: 400;
  line-height: 17px;
  text-align: center;
  white-space: nowrap;
  z-index: 104;
}
.span-4a {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  width: 8.396px;
  height: 17px;
  top: 5px;
  left: calc(50% - -19px);
  color: #404040;
  font-family: Inconsolata, var(--default-font-family);
  font-size: 16px;
  font-weight: 400;
  line-height: 17px;
  text-align: center;
  white-space: nowrap;
  z-index: 106;
}
.button-previous-slide {
  position: absolute;
  width: 88px;
  height: 7px;
  top: 50%;
  left: 50%;
  background: url(./assets/images/b861cdd4-39f6-41ac-b280-24b071a7096e.png)
    no-repeat center;
  background-size: cover;
  transform: translate(-161.36%, -42.86%);
  z-index: 107;
  overflow: hidden;
}
.button-next-slide {
  position: absolute;
  width: 88px;
  height: 7px;
  top: 50%;
  left: 50%;
  background: url(./assets/images/20e42161-d666-40cf-a92a-b0ab37e60d88.png)
    no-repeat center;
  background-size: cover;
  transform: translate(61.36%, -42.86%);
  z-index: 108;
  overflow: hidden;
}
.main-section {
  position: relative;
  width: 1920px;
  height: 643.97px;
  margin: 122.99px 0 0 0;
  background: #f7f5f2;
  z-index: 109;
}
.widget-wrap {
  position: absolute;
  top: 0;
  right: 1013.77px;
  bottom: 0;
  left: 0;
  background: url(./assets/images/aa97482d-cb18-4602-8626-a9e755c09a7c.png)
    no-repeat center;
  background-size: cover;
  z-index: 110;
}
.flex-column-ed {
  position: absolute;
  width: 624.23px;
  height: 50.08%;
  top: 21.43%;
  left: 1012.67px;
  font-size: 0px;
  z-index: 117;
}
.heading-we-care {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  position: relative;
  width: 404.64px;
  height: 110px;
  margin: 0 0 0 0;
  color: #0c1315;
  font-family: Epilogue, var(--default-font-family);
  font-size: 42px;
  font-weight: 400;
  line-height: 55px;
  text-align: left;
  text-overflow: initial;
  z-index: 111;
  overflow: hidden;
}
.best-drivers {
  display: block;
  position: relative;
  height: 24px;
  margin: 6.715px 0 0 0;
  color: #bfa37c;
  font-family: Inconsolata, var(--default-font-family);
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
  text-transform: uppercase;
  white-space: nowrap;
  letter-spacing: 3.5px;
  z-index: 112;
}
.tincidunt-feugiat-tempus {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  position: relative;
  width: 624.23px;
  height: 84px;
  margin: 26.76px 0 0 0;
  color: #404040;
  font-family: Sora, var(--default-font-family);
  font-size: 16px;
  font-weight: 400;
  line-height: 28px;
  text-align: left;
  text-overflow: initial;
  z-index: 113;
  overflow: hidden;
}
.view-more {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  position: absolute;
  height: 25px;
  top: 309.975px;
  left: 74px;
  color: #0c1315;
  font-family: Inconsolata, var(--default-font-family);
  font-size: 14px;
  font-weight: 400;
  line-height: 25px;
  text-align: left;
  text-transform: uppercase;
  white-space: nowrap;
  letter-spacing: 3.5px;
  z-index: 116;
}
.before-4b {
  position: absolute;
  width: 1px;
  height: 3.41%;
  top: 98.14%;
  left: 56px;
  background: #0c1315;
  z-index: 115;
}
.after-4c {
  position: absolute;
  width: 11px;
  height: 1px;
  top: 321.475px;
  left: 51px;
  background: #0c1315;
  z-index: 117;
}
.faq-heading {
  display: block;
  position: relative;
  height: 55px;
  margin: 113px 0 0 260px;
  color: #0c1315;
  font-family: Epilogue, var(--default-font-family);
  font-size: 42px;
  font-weight: 400;
  line-height: 55px;
  text-align: left;
  white-space: nowrap;
  z-index: 118;
}
.answers-list {
  display: block;
  position: relative;
  height: 24px;
  margin: 6.72px 0 0 260px;
  color: #bfa37c;
  font-family: Inconsolata, var(--default-font-family);
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
  text-transform: uppercase;
  white-space: nowrap;
  letter-spacing: 3.5px;
  z-index: 119;
}
.section {
  position: relative;
  width: 1400px;
  height: 1px;
  margin: 31.27px 0 0 260px;
  border-top: 1px solid #d9d6ce;
  z-index: 120;
}
.flex-row-be {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  width: 1011.61px;
  height: 32px;
  margin: 30px 0 0 618.39px;
  z-index: 123;
}
.rent-international {
  flex-shrink: 0;
  position: relative;
  height: 32px;
  color: #0c1315;
  font-family: Epilogue, var(--default-font-family);
  font-size: 22px;
  font-weight: 400;
  line-height: 32px;
  text-align: left;
  white-space: nowrap;
  z-index: 122;
}
.tab {
  flex-shrink: 0;
  position: relative;
  width: 13px;
  height: 1px;
  background: url(./assets/images/06510919-a496-4292-b8ca-320fd3c62027.png)
    no-repeat center;
  background-size: cover;
  z-index: 123;
}
.tab-4d {
  position: absolute;
  width: 100%;
  height: 1px;
  top: 0;
  left: 0;
  background: #000000;
  z-index: 124;
}
.tabpanel-viverra-accumsan {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  position: relative;
  width: 926.39px;
  height: 56px;
  margin: 28.5px 0 0 618.39px;
  color: #404040;
  font-family: Sora, var(--default-font-family);
  font-size: 16px;
  font-weight: 400;
  line-height: 28px;
  text-align: left;
  text-overflow: initial;
  z-index: 125;
  overflow: hidden;
}
.flex-row-b {
  position: relative;
  width: 1011.61px;
  height: 32px;
  margin: 63.5px 0 0 618.39px;
  z-index: 130;
}
.insurance {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  position: absolute;
  height: 32px;
  top: 0;
  left: 0;
  color: #0c1315;
  font-family: Epilogue, var(--default-font-family);
  font-size: 22px;
  font-weight: 400;
  line-height: 32px;
  text-align: left;
  white-space: nowrap;
  z-index: 127;
}
.before-4e {
  position: absolute;
  width: 1px;
  height: 40.63%;
  top: 29.69%;
  left: 1004.61px;
  background: #000000;
  z-index: 129;
}
.after-4f {
  position: absolute;
  width: 1.29%;
  height: 1px;
  top: 15.5px;
  left: 98.71%;
  background: #000000;
  z-index: 130;
}
.flex-row {
  position: relative;
  width: 1011.61px;
  height: 32px;
  margin: 41px 0 0 618.39px;
  z-index: 135;
}
.choose-chauffeur {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  position: absolute;
  height: 32px;
  top: 0;
  left: 0;
  color: #0c1315;
  font-family: Epilogue, var(--default-font-family);
  font-size: 22px;
  font-weight: 400;
  line-height: 32px;
  text-align: left;
  white-space: nowrap;
  z-index: 132;
}
.before-50 {
  position: absolute;
  width: 1px;
  height: 40.63%;
  top: 29.69%;
  left: 1004.61px;
  background: #000000;
  z-index: 134;
}
.after-51 {
  position: absolute;
  width: 1.29%;
  height: 1px;
  top: 15.5px;
  left: 98.71%;
  background: #000000;
  z-index: 135;
}
.flex-row-f {
  position: relative;
  width: 1011.61px;
  height: 32px;
  margin: 41px 0 0 618.39px;
  z-index: 140;
}
.drivers-certificates {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  position: absolute;
  height: 32px;
  top: 0;
  left: 0;
  color: #0c1315;
  font-family: Epilogue, var(--default-font-family);
  font-size: 22px;
  font-weight: 400;
  line-height: 32px;
  text-align: left;
  white-space: nowrap;
  z-index: 137;
}
.before-52 {
  position: absolute;
  width: 1px;
  height: 40.63%;
  top: 29.69%;
  left: 1004.61px;
  background: #000000;
  z-index: 139;
}
.after-53 {
  position: absolute;
  width: 1.29%;
  height: 1px;
  top: 15.5px;
  left: 98.71%;
  background: #000000;
  z-index: 140;
}
.flex-row-a-54 {
  position: relative;
  width: 1011.61px;
  height: 32px;
  margin: 41px 0 0 618.39px;
  z-index: 145;
}
.rental-age {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  position: absolute;
  height: 32px;
  top: 0;
  left: 0;
  color: #0c1315;
  font-family: Epilogue, var(--default-font-family);
  font-size: 22px;
  font-weight: 400;
  line-height: 32px;
  text-align: left;
  white-space: nowrap;
  z-index: 142;
}
.before-55 {
  position: absolute;
  width: 1px;
  height: 40.63%;
  top: 29.69%;
  left: 1004.61px;
  background: #000000;
  z-index: 144;
}
.after-56 {
  position: absolute;
  width: 1.29%;
  height: 1px;
  top: 15.5px;
  left: 98.71%;
  background: #000000;
  z-index: 145;
}
.flex-row-db {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  width: 1399.99px;
  height: 501.69px;
  margin: 151px 0 0 260px;
  z-index: 152;
}
.inner-faq-img {
  flex-shrink: 0;
  position: relative;
  width: 677.61px;
  height: 501.61px;
  background: url(./assets/images/96e8395e-892a-4c88-a792-3ca28c67a3f2.png)
    no-repeat center;
  background-size: cover;
  z-index: 148;
  overflow: hidden;
}
.link-57 {
  flex-shrink: 0;
  position: relative;
  width: 341.19px;
  height: 501.69px;
  z-index: 150;
  overflow: hidden;
}
.inner-faq-img-58 {
  position: absolute;
  width: 344.6px;
  height: 506.7px;
  top: 50%;
  left: -1.71px;
  background: url(./assets/images/3a1ffb95-8c4c-4a34-a865-ab663df334fd.png)
    no-repeat center;
  background-size: cover;
  transform: translate(0, -50%);
  z-index: 151;
  overflow: hidden;
}
.link-59 {
  flex-shrink: 0;
  position: relative;
  width: 341.19px;
  height: 501.69px;
  z-index: 152;
  overflow: hidden;
}
.inner-faq-img-5a {
  position: absolute;
  width: 344.6px;
  height: 506.7px;
  top: 50%;
  left: -1.71px;
  background: url(./assets/images/2d69019d-b440-414f-99a3-f04cb153b910.png)
    no-repeat center;
  background-size: cover;
  transform: translate(0, -50%);
  z-index: 153;
  overflow: hidden;
}
.section-5b {
  position: relative;
  width: 1920px;
  height: 705.98px;
  margin: 129.99px 0 0 0;
  background: #f5f2e9;
  z-index: 154;
}
.widget-wrap-5c {
  position: absolute;
  top: 0;
  right: 0.02px;
  bottom: 0;
  left: 950.39px;
  background: url(./assets/images/c791b3f4-bccf-4712-a3f0-6ac702722874.png)
    no-repeat center;
  background-size: cover;
  z-index: 164;
}
.heading-every-need {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  position: absolute;
  height: 55px;
  top: 181px;
  left: 256.59px;
  color: #0c1315;
  font-family: Epilogue, var(--default-font-family);
  font-size: 42px;
  font-weight: 400;
  line-height: 55px;
  text-align: left;
  white-space: nowrap;
  z-index: 155;
}
.only-the-best {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  position: absolute;
  height: 24px;
  top: calc(50% - 110.27px);
  left: 256.59px;
  color: #bfa37c;
  font-family: Inconsolata, var(--default-font-family);
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
  text-transform: uppercase;
  white-space: nowrap;
  letter-spacing: 3.5px;
  z-index: 156;
}
.elementum-fringilla-cursus {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  position: absolute;
  width: 546.69px;
  height: 56px;
  top: 293.49px;
  left: 256.59px;
  color: #404040;
  font-family: Sora, var(--default-font-family);
  font-size: 16px;
  font-weight: 400;
  line-height: 28px;
  text-align: left;
  text-overflow: initial;
  z-index: 157;
  overflow: hidden;
}
.section-plus {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  position: absolute;
  height: 55px;
  top: 388.99px;
  left: 349.94px;
  color: #0c1315;
  font-family: Sora, var(--default-font-family);
  font-size: 55px;
  font-weight: 400;
  line-height: 55px;
  text-align: left;
  white-space: nowrap;
  letter-spacing: 2.55px;
  z-index: 159;
}
.section-5d {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  position: absolute;
  height: 85px;
  top: 393.99px;
  left: 551.27px;
  color: #0c1315;
  font-family: Sora, var(--default-font-family);
  font-size: 85px;
  font-weight: 400;
  line-height: 85px;
  text-align: left;
  white-space: nowrap;
  letter-spacing: 2.55px;
  z-index: 161;
}
.section-21 {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  position: absolute;
  height: 85px;
  top: 393.99px;
  left: 256.59px;
  color: #0c1315;
  font-family: Sora, var(--default-font-family);
  font-size: 85px;
  font-weight: 400;
  line-height: 85px;
  text-align: left;
  white-space: nowrap;
  letter-spacing: 2.55px;
  z-index: 158;
}
.section-k {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  position: absolute;
  height: 55px;
  top: 420.99px;
  left: 696.38px;
  color: #0c1315;
  font-family: Sora, var(--default-font-family);
  font-size: 55px;
  font-weight: 400;
  line-height: 55px;
  text-align: left;
  white-space: nowrap;
  letter-spacing: 2.55px;
  z-index: 162;
}
.section-years-experience {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  position: absolute;
  height: 28px;
  top: 489.99px;
  left: 261.59px;
  color: #404040;
  font-family: Sora, var(--default-font-family);
  font-size: 16px;
  font-weight: 400;
  line-height: 28px;
  text-align: left;
  white-space: nowrap;
  z-index: 160;
}
.section-satisfied-clients {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  position: absolute;
  height: 28px;
  top: 489.99px;
  left: 556.27px;
  color: #404040;
  font-family: Sora, var(--default-font-family);
  font-size: 16px;
  font-weight: 400;
  line-height: 28px;
  text-align: left;
  white-space: nowrap;
  z-index: 163;
}
.div-qodef-content-bottom {
  position: relative;
  width: 1920px;
  height: 211px;
  margin: 0.01px 0 0 0;
  background: #ffffff;
  z-index: 165;
}
.link-rue-mutualite {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  position: absolute;
  width: 418.86px;
  height: 56px;
  top: 75px;
  left: 297px;
  color: #404040;
  font-family: Sora, var(--default-font-family);
  font-size: 18px;
  font-weight: 400;
  line-height: 28px;
  text-align: left;
  text-overflow: initial;
  z-index: 167;
  overflow: hidden;
}
.link-phone-email {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  position: absolute;
  width: 399.87px;
  height: 56px;
  top: 75px;
  left: 782.66px;
  color: #404040;
  font-family: Sora, var(--default-font-family);
  font-size: 18px;
  font-weight: 400;
  line-height: 28px;
  text-align: left;
  text-overflow: initial;
  z-index: 169;
  overflow: hidden;
}
.mon-sat-closed-sunday {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  position: absolute;
  width: 208px;
  height: 56px;
  top: 75px;
  left: 1249.33px;
  color: #404040;
  font-family: Sora, var(--default-font-family);
  font-size: 18px;
  font-weight: 400;
  line-height: 28px;
  text-align: left;
  text-overflow: initial;
  z-index: 171;
  overflow: hidden;
}
.div-h-icon-img {
  position: absolute;
  width: 45px;
  height: 50px;
  top: 78px;
  left: 726.66px;
  background: url(./assets/images/53f22cf3-6129-4dfb-a77b-33671894a587.png)
    no-repeat center;
  background-size: cover;
  z-index: 168;
  overflow: hidden;
}
.div-content-bottom-icon {
  position: absolute;
  width: 45px;
  height: 45px;
  top: 80.5px;
  left: 1193.33px;
  background: url(./assets/images/31fc8782-7e29-4ea0-b00c-2ab4cc6ccd81.png)
    no-repeat center;
  background-size: cover;
  z-index: 170;
  overflow: hidden;
}
.link-content-bottom-icon {
  position: absolute;
  width: 26px;
  height: 42px;
  top: 82px;
  left: 260px;
  background: url(./assets/images/2c76bef4-4202-49af-bb19-486da0e001d3.png)
    no-repeat center;
  background-size: cover;
  z-index: 166;
  overflow: hidden;
}
.footer {
  position: relative;
  width: 1920px;
  height: 464px;
  margin: 0 0 0 0;
  background: #ffffff;
  border-bottom: 1px solid #d9d6ce;
  z-index: 172;
  overflow: visible auto;
}
.div-flex-row-ee {
  position: relative;
  width: 1236.616px;
  height: 32px;
  margin: 132px 0 0 260px;
  z-index: 186;
}
.link-logo-gold-img {
  position: absolute;
  width: 121px;
  height: 12px;
  top: 0;
  left: 0;
  background: url(./assets/images/7790952e-e8c5-4798-960f-b953c37db049.png)
    no-repeat center;
  background-size: cover;
  z-index: 174;
  overflow: hidden;
}
.heading-quick-links {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  position: absolute;
  height: 32px;
  top: 0;
  left: 700px;
  color: #0c1315;
  font-family: Epilogue, var(--default-font-family);
  font-size: 22px;
  font-weight: 400;
  line-height: 32px;
  text-align: left;
  white-space: nowrap;
  z-index: 177;
}
.heading-our-services {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  position: absolute;
  height: 32px;
  top: 0;
  left: 1100px;
  color: #0c1315;
  font-family: Epilogue, var(--default-font-family);
  font-size: 22px;
  font-weight: 400;
  line-height: 32px;
  text-align: left;
  white-space: nowrap;
  z-index: 186;
}
.div-flex-row-b {
  position: relative;
  width: 1400px;
  height: 84px;
  margin: 17.5px 0 0 260px;
  z-index: 189;
}
.justo-odio-dignissimos {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  position: absolute;
  width: 470.62px;
  height: 84px;
  top: 0;
  left: 0;
  color: #404040;
  font-family: Sora, var(--default-font-family);
  font-size: 16px;
  font-weight: 400;
  line-height: 28px;
  text-align: left;
  text-overflow: initial;
  z-index: 175;
  overflow: hidden;
}
.list-item-link {
  position: absolute;
  height: 24px;
  top: 16.5px;
  right: 400px;
  left: 700px;
  z-index: 178;
  overflow: hidden;
}
.how-we-work {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  position: absolute;
  height: 24px;
  top: -0.5px;
  left: 0;
  color: #0c1315;
  font-family: Inconsolata, var(--default-font-family);
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
  text-transform: uppercase;
  white-space: nowrap;
  letter-spacing: 3.5px;
  z-index: 179;
}
.list-item-link-5e {
  position: absolute;
  height: 24px;
  top: 16.5px;
  right: 0;
  left: 1100px;
  z-index: 187;
  overflow: hidden;
}
.corporate-travels {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  position: absolute;
  height: 24px;
  top: -0.5px;
  left: 0;
  color: #0c1315;
  font-family: Inconsolata, var(--default-font-family);
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
  text-transform: uppercase;
  white-space: nowrap;
  letter-spacing: 3.5px;
  z-index: 188;
}
.list-item-link-5f {
  position: absolute;
  height: 24px;
  top: 56.5px;
  right: 400px;
  left: 700px;
  z-index: 180;
  overflow: hidden;
}
.faq {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  position: absolute;
  height: 24px;
  top: -0.5px;
  left: 0;
  color: #0c1315;
  font-family: Inconsolata, var(--default-font-family);
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
  text-transform: uppercase;
  white-space: nowrap;
  letter-spacing: 3.5px;
  z-index: 181;
}
.list-item-link-60 {
  position: absolute;
  height: 24px;
  top: 56.5px;
  right: 0;
  left: 1100px;
  z-index: 189;
  overflow: hidden;
}
.special-events {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  position: absolute;
  height: 24px;
  top: -0.5px;
  left: 0;
  color: #0c1315;
  font-family: Inconsolata, var(--default-font-family);
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
  text-transform: uppercase;
  white-space: nowrap;
  letter-spacing: 3.5px;
  z-index: 190;
}
.div-flex-row-ef {
  position: relative;
  width: 1399px;
  height: 28.5px;
  margin: 13.5px 0 0 261px;
  z-index: 191;
}
.regroup {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: absolute;
  height: 28.5px;
  top: 0;
  right: 0;
  left: 699px;
  z-index: 191;
}
.list-item-link-61 {
  flex-shrink: 0;
  position: relative;
  width: 300px;
  height: 24px;
  z-index: 182;
  overflow: hidden;
}
.services {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  position: absolute;
  height: 24px;
  top: -0.5px;
  left: 0;
  color: #0c1315;
  font-family: Inconsolata, var(--default-font-family);
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
  text-transform: uppercase;
  white-space: nowrap;
  letter-spacing: 3.5px;
  z-index: 183;
}
.list-item-link-62 {
  flex-shrink: 0;
  position: relative;
  width: 300px;
  height: 24px;
  z-index: 191;
  overflow: hidden;
}
.airport-transport {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  position: absolute;
  height: 24px;
  top: -0.5px;
  left: 0;
  color: #0c1315;
  font-family: Inconsolata, var(--default-font-family);
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
  text-transform: uppercase;
  white-space: nowrap;
  letter-spacing: 3.5px;
  z-index: 192;
}
.link-call-centar {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  position: absolute;
  height: 24px;
  top: 4.5px;
  left: 0;
  color: #bfa37c;
  font-family: Inconsolata, var(--default-font-family);
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
  text-transform: uppercase;
  white-space: nowrap;
  letter-spacing: 3.5px;
  z-index: 176;
}
.div-flex-row-bfb {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  width: 700px;
  height: 24px;
  margin: 12.5px 0 0 960px;
  z-index: 193;
}
.list-item-link-63 {
  flex-shrink: 0;
  position: relative;
  width: 300px;
  height: 24px;
  z-index: 184;
  overflow: hidden;
}
.contact {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  position: absolute;
  height: 24px;
  top: -0.5px;
  left: 0;
  color: #0c1315;
  font-family: Inconsolata, var(--default-font-family);
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
  text-transform: uppercase;
  white-space: nowrap;
  letter-spacing: 3.5px;
  z-index: 185;
}
.list-item-link-64 {
  flex-shrink: 0;
  position: relative;
  width: 300px;
  height: 24px;
  z-index: 193;
  overflow: hidden;
}
.wedding-limousine {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  position: absolute;
  height: 24px;
  top: -0.5px;
  left: 0;
  color: #0c1315;
  font-family: Inconsolata, var(--default-font-family);
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
  text-transform: uppercase;
  white-space: nowrap;
  letter-spacing: 3.5px;
  z-index: 194;
}
.footer-65 {
  position: relative;
  width: 1920px;
  height: 46px;
  margin: 0 0 0 0;
  background: #ffffff;
  border-bottom: 1px solid #d9d6ce;
  z-index: 195;
  overflow: visible auto;
}
.qode-interactive-all-rights {
  position: relative;
  width: 293.904px;
  height: 28px;
  margin: 8.5px 0 0 260px;
  font-family: Sora, var(--default-font-family);
  font-size: 13px;
  font-weight: 400;
  line-height: 28px;
  text-align: left;
  text-overflow: initial;
  white-space: nowrap;
  z-index: 196;
}
.copyright-2023 {
  position: relative;
  color: #404040;
  font-family: Sora, var(--default-font-family);
  font-size: 13px;
  font-weight: 400;
  line-height: 28px;
  text-align: left;
}
.qode-interactive {
  position: relative;
  color: #0c1315;
  font-family: Sora, var(--default-font-family);
  font-size: 13px;
  font-weight: 400;
  line-height: 28px;
  text-align: left;
}
.all-rights-reserved {
  position: relative;
  color: #404040;
  font-family: Sora, var(--default-font-family);
  font-size: 13px;
  font-weight: 400;
  line-height: 28px;
  text-align: left;
}
.div-qodef-page-title {
  position: absolute;
  height: 515px;
  top: 130px;
  right: 0;
  left: 0;
  background: url(./assets/images/324d1b6a-bdeb-456f-9f8c-37bac0bdaf49.png)
    no-repeat center;
  background-size: cover;
}
.main-section-66 {
  position: absolute;
  height: 645px;
  top: 1369.97px;
  right: 0;
  left: 0;
  background: url(./assets/images/9bb02d2f-8a56-4e24-84bc-e5d9dbb25418.png)
    no-repeat center;
  background-size: cover;
  z-index: 19;
}
